#nav{
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(100% - 20px);
    padding: 10px;
    height: 0.45in;
    background-color: white;
}
#nav-margin{
    height: 0.7in;
}
#nav-logo{
    float: right;
    font-weight: bold;
}
#nav-menu-btn{
    float: left;
    margin: 5px;
}
#nav-menu-btn::before{
    content: 'T';
    font-family: sporto1;
    font-size: 28px;
    color: rgb(64, 64, 64);
}
#nav-menu-btn:hover::before{
    content: 'S';
}

.navbtnsdiv{
    float: right;
    margin-right: 10px;
}
.navbtn{
    float: right;
    outline: none;
    border: none;
    height: calc(0.4in + 20px);
    margin: 5px;
    margin-top: -6px;
    padding-left: 10px; padding-right: 10px;
    background-color: transparent;
    color: rgb(64, 64, 64);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
.navbtn:hover{
    border-bottom: 4px ridge slateblue;
    color: slateblue;
    transition: 0.1s;
}

.disabled{
    cursor: not-allowed;
}
.disabled:hover{
    border: none;
    padding-top: 0px;
    color: rgb(65, 54, 54);
}

